/* reset8 */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul{
    list-style: none;
}
body{
   font-family: font-family, 'Roboto', sans-serif;
   font-size: 16px;
   }
/* header */
header{
    background-color: black;
    padding: 25px 78px 34px 78px;
    position: absolute;
    z-index: 2;
    width: 100%;
    background:linear-gradient(to bottom,rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%) ;
}

header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo img{
    width: 70px;
}
.navbar ul{
  display: flex;  
}
.navbar a{
    color: white;
    font-size: 15px;
    font-weight: 400;
    padding: 10px 8px;
    margin: 0 20px;

}
a{
    text-decoration: none;
}
.navbar li:last-child a{
   padding-right: 0;
}
.navbar li a{
    transition: color ease 0.8s;
}
.navbar li:hover a{
    color:#f70142
}
.navbar li.active a{
    border-bottom: 2px solid #f70142;
}
/* hero */
.hero{
position: relative;
height: 100vh;
overflow: hidden;
}
.hero img{
    width: 100%;
}
.hero .hero-info h1{
    color: white;
    font-size: 74px;
    font-weight: 900;
    line-height: 74px;
    margin-bottom: 28px;
}
.hero .hero-info h1 span{
    font-size: 30px;
    font-weight: 400;
    display: block;


}
.hero .hero-info{
    position: absolute;
    left: 78px;
    top: 50%;
    transform: translateY(-50%);
    max-width: 405px;
}
.hero .hero-info p{
    color: white;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 42px;
}
.hero .hero-info .cta-btn{
    background-color: #f70142;
    color: wheat;
    font-size: 21px;
    font-weight: 700;
    padding: 12px 30px;
    border-radius: 24px;
    transition: background-color ease 0.5s;
}
.hero .hero-info .cta-btn:hover{
    background-color: black;
}

.hero .swiper-pagination{
    bottom: 300px;
    padding-right:  78px;
    text-align: right;
}
.hero .swiper-pagination .swiper-pagination-bullet{
    width: 23px;
    height: 23px;
    background: transparent;
    border: 2px solid white;
    opacity: 1;

}
.hero .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active{
    border: 2px solid #f70142
}
